<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeEase"
        tools:targetApi="31">
        <activity
            android:name=".UserDeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Rewards"
            android:exported="false"
            android:label="Rewards" />
        <activity
            android:name=".ExpertPaymentPage"
            android:exported="false" />
        <activity
            android:name=".EditExpertProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ExpertProfilePage"
            android:exported="false" />
        <activity
            android:name=".UserBookingHistory"
            android:exported="false"
            android:theme="@style/Theme.HomeEase" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.HomeEase" />
        <activity
            android:name=".EditUserProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.HomeEase" /> <!-- <service -->
        <!-- android:name=".MyFirebaseMessagingService" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <activity
            android:name=".ExpertActivityPage"
            android:exported="false"
            android:theme="@style/Theme.HomeEase" />
        <activity
            android:name=".ExpertMessagesPageActivity"
            android:exported="false"
            android:theme="@style/Theme.HomeEase" />
        <activity
            android:name=".ExpertConversationActivity"
            android:exported="false"
            android:theme="@style/Theme.HomeEase" />
        <activity
            android:name=".ConversationActivity"
            android:exported="false"
            android:theme="@style/Theme.HomeEase" />
        <activity
            android:name=".AcceptedBookingsAdapter"
            android:exported="false"
            android:theme="@style/Theme.HomeEase" />
        <activity
            android:name=".OngoingAdapter"
            android:exported="false"
            android:theme="@style/Theme.HomeEase" />
        <activity
            android:name=".UserBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".ExpertDashBoard"
            android:exported="false" />
        <activity
            android:name=".AvailableExpertsActivity"
            android:exported="false"
            android:label="Available Experts" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:label="Booking History" />
        <activity
            android:name=".ProfilePageActivity"
            android:exported="false"
            android:label="Profile" />
        <activity
            android:name=".MessagesPageActivity"
            android:exported="false"
            android:label="Messages" />
        <activity
            android:name=".PaymentPageActivity"
            android:exported="false"
            android:label="Payment" />
        <activity
            android:name=".ActivityPage"
            android:exported="false"
            android:label="Activity" />
        <activity
            android:name=".UserDashBoard"
            android:exported="false"
            android:label="Dashboard" />
        <activity
            android:name=".LoginPageActivity"
            android:exported="false"
            android:label="Log in Page" />
        <activity
            android:name=".ExpertRegistration"
            android:exported="false"
            android:label="Expert Registration" />
        <activity
            android:name=".UserRegistration"
            android:exported="false"
            android:label="User Registration" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".NumberVerifyActivity"
            android:exported="false"
            android:label="Number Verification" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>